<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Organizer API</title>
  </head>
  <body>
    <h1>{{message}}</h1>
    <h2>Endpoints</h2>
    <ul>
      <li><a href="/auth">Auth</a></li>
      <li><a href="/events">Events</a></li>
    </ul>
  </body>
</html>